<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <!--
    <connectionStrings>
        <add name="Nipuna.Reports.Properties.Settings.NipunaConnectionString"
            connectionString="Data Source=13.67.38.106;Initial Catalog=Nipuna;User ID=dileepa;Password=!qaz@wsx#edc"
            providerName="System.Data.SqlClient"/>
    </connectionStrings>-->

  <!--<connectionStrings>
    <add name="Nipuna.Reports.Properties.Settings.NipunaConnectionString"
      connectionString="Data Source=.;Initial Catalog=Nipuna;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->

  <connectionStrings>
    <add name="DB" connectionString="Data Source=.;Initial Catalog=Nipuna;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
    
    <add name="Nipuna.Reports.Properties.Settings.NipunaConnectionString"
      connectionString="Data Source=.;Initial Catalog=Nipuna;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
    
    <add name="Nipuna.Reports.Properties.Settings.NipunaConnectionString1"
      connectionString="Data Source=DESKTOP-I16FT3R\SQLEXPRESS;Initial Catalog=Nipuna;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
    
    <add name="Nipuna.Reports.Properties.Settings.NipunaConnectionString2"
      connectionString="Data Source=192.168.8.103;Initial Catalog=Nipuna;User ID=sa;Password=!qaz@wsx#EDC12"
      providerName="System.Data.SqlClient" />

    <!--<add name="Nipuna.Reports.Properties.Settings.NipunaConnectionString2"
  connectionString="Data Source=192.168.8.103;Initial Catalog=Nipuna;User ID=sa;Password=!qaz@wsx#EDC12"
  providerName="System.Data.SqlClient" />-->

    <add name="Nipuna.Reports.Properties.Settings.NipunaConnectionString2"
  connectionString="Data Source=192.168.8.103\MSSQLSERVER19,1433;Network Library=DBMSSOCN;Initial Catalog=Nipuna;User ID=sa;Password=!qaz@wsx#EDC12;"
  providerName="System.Data.SqlClient" />
    
    <add name="Nipuna.Reports.Properties.Settings.ConnectionString"
      connectionString="Data Source=.;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <!--password was asdf and it has been changed to sa-->
  
  <!--
    <connectionStrings>
        <add name="DB" connectionString="Server=(local);Database=Nipuna;User Id=sa;Password=sa"
          providerName="System.Data.SqlClient" />
        <add name="Nipuna.Properties.Settings.NipunaConnectionString"
          connectionString="Data Source=.;Initial Catalog=Nipuna;User ID=sa;Password=sa"
          providerName="System.Data.SqlClient" />
    </connectionStrings>-->

</configuration>